h1,body,html{
			padding: 0;
			margin: 0;
		}
		body{
			font-family: Arial,"Microsoft YaHei","Hiragino Sans GB",sans-serif;
		}
		html,body{
			height: 100%;
			overflow: hidden;
		}
		h1{
			font-size: 6em;
			font-weight: normal;
		}
		#container,.section{
			height: 100%;
			position: relative;
		}
		#section0,
		#section1,
		#section2,
		#section3{
			background-size: cover;
			background-position: 50% 50%;
		}
		#section0{
			color: #fff;
			background-color: #FFD673;
		}
		#section1{
			color: #fff;
			background-color: #BEF56E;
		}
		#section2{
			color: #fff;
			background-color: #3F92D2;
		}
		#section3{
			color: #fff;
			background-color: #4013AF;
		}
		#section3 a{
			color:#fff;
			text-decoration: none;
		}
		.left{
			float: left;
		}
		.intro{
			position: absolute;
			top: 50%;
			width: 100%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			text-align: center;
		}
		#pages{
			position:fixed;
			right: 10px;
			top: 50%;
			list-style: none;
		}
		#pages li{
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #fff;
			margin: 0 0 10px 5px;
		}
		#pages li.active{
			width: 14px;
			height: 14px;
			border: 2px solid #FFFE00;
			background: none;
			margin-left: 0;
		}
		span#correct{
			position:absolute;
			right:20px;
			top:20px;
			color:white;
			cursor:pointer;
		}
		#correct a{
			color:white;
			text-decoration: none;
			text-transform: uppercase;
		}
		/*#section2 .title{
			-webkit-transform: translateX(-100%);
			transform: translateX(-100%);
			-webkit-animation: sectitle0 1s ease-in-out 100ms forwards;
			animation: sectitle0 1s ease-in-out 100ms forwards;
		}
		#section2 p{
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
			-webkit-animation: sec0 1s ease-in-out 100ms forwards;
			animation: sec0 1s ease-in-out 100ms forwards;
		}
		@-webkit-keyframes sectitle0{
			0%{
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
			100%{
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
		}
		@keyframes sectitle0{
			0%{
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
			}
			100%{
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
		}
		@-webkit-keyframes sec0{
			0%{
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
			}
			100%{
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
		}
		@keyframes sec0{
			0%{
				-webkit-transform: translateX(100%);
				transform: translateX(100%);
			}
			100%{
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
		}*/