---
layout: default
title: 卢珏玟的Blog
---
<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/public.css">
    <title>卢珏玟的博客</title>
</head>
<body>
<header id="head" class="head">
    <div class="container">
        <a href="..">卢珏玟 | Lu Juemin</a>
    </div>
</header>

<section id="innerContent">
    <div id="panel_blog">
    <div class="container">
        <div class="col-md-8" id="content">
            {% for post in site.posts %}
            <article class="holder" id="blog">
                <div class="header">
                    <a href="{{ site.baseurl }}{{post.url}}">
                        <h1>{{ post.title }}</h1>
                    </a>
                    <hr>
                    <p>Posted by <small>卢珏玟</small> on <small>{{ post.date | date_to_string }}</small><span id="theme" class="label label-default" style="float:right;">{{ post.theme }}</span></p>
                </div>
                <div class="content">
                    {% if post.content contains "<!-- more -->" %}
                        {{ post.content | split:"<!-- more -->" | first % }}
                    {% else %}
                        {{ post.excerpt }}
                    {% endif %}
                </div>
                <div class="footer">
                    <hr>
                    <div class="read-more">
                        <a href="">continue reading</a>
                    </div>
                    <div class="social-widget-holder">
                        <a href="" title="Comment on Keep learning">Leave a comment</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </article>
        {% endfor %}
                   
        </div>
        <div class="col-md-4 col-sm-5 " id="aside">
            <article id="about-me" class="aside-holder">
                <h2>about me</h2>
                <div class="photo-holder">
                    <a href="javascript:void(0);" id="my_photo"><img src="../im/juemin.png" alt="lujuemin" class="img-thumbnail"></a>
                </div>
                <p>I'm Lu Juemin, a student in Yonsei University, majoring in Computer Science</p>
                <p>
                    <span class="social" id="github"></span>
                    <span class="social" id="weibo"></span>
                    <span class="social" id="facebook"></span>
                    <span class="social" id="twitter"></span>
                    <span class="social" id="stackoverflow"></span>
                    <span class="social" id="linkedin"></span>
                    <span class="clearfix"></span>
                </p>
            </article>

            <article id="recent-posts" class="aside-holder"><h2>recent posts</h2>
                        <hr>
                    {% for post in site.posts limit: 5 %}
                    <a href="{{ site.baseurl }}{{post.url}}">{{ post.title }}</a>
                    <hr>

                    {% endfor %}
                        <p>Totally 2 blogs</p>
                    </article>
            <article id="recent-replies" class="aside-holder"><h2>recent replies</h2>
                        <hr>
                    <p>暂时没有回复</p>
            </article>

            <article id="recent-messages" class="aside-holder"><h2>recent messages</h2>
                        <hr>
                    <p>暂时没有留言</p>
                    
            </article>            

        </div>
    </div>

</div></section>
<footer>
    <a href="..">卢珏玟的个人网站</a>©2015
</footer>
<div id="nav">
    <div id="nav1">
        <a href=".#">BLOG</a>
    </div>
    <div id="nav2">
        <a href="..">HOME</a>
    </div>
    <div id="nav3">
        <a href="../message">MESSAGE</a>
    </div>
    <div id="nav4">
        <a href="../slide">SLIDE</a>
    </div>
</div>
<script src="../js/app.js"></script>

</body></html>
