<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/public.css">
	<title>{{page.title}}</title>
</head>
<body>
	<header id="head" class="head">
	    <div class="container">
	        <a href="http://www.juemin.win">卢珏玟 | Lu Juemin</a>
	        <span><a href="http://www.juemin.win/cv">简历</a></span>
	    </div>
	</header>

	<section id="innerContent">
		<div id="panel">
			<div class="container">
				<div class="col-md-12" id="content">
					<section class="holder" id="blog">
						<div class="header">
							<a href="{{ site.baseurl }}{{post.url}}">
		                        <h1>{{ page.title }}</h1>
		                    </a>
		                    <hr>
		                    <p>Posted by <small>"Lu Juemin"</small> on <small>{{ page.date | date_to_string }}</small><span class='label label-default' style = 'float:right;'>{{ page.theme }}</span></p>
						</div>
						<div class="content"><p>{{page.content}}</p></div>
						<div class='footer'>
                            <hr/>
                            <div class='social-widget-holder'>
                            	<!-- 多说评论框 start -->
									<div class="ds-thread" data-thread-key="请将此处替换成文章在你的站点中的ID" data-title="请替换成文章的标题" data-url="请替换成文章的网址"></div>
								<!-- 多说评论框 end -->
								<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
								<script type="text/javascript">
								var duoshuoQuery = {short_name:"juemin"};
									(function() {
										var ds = document.createElement('script');
										ds.type = 'text/javascript';ds.async = true;
										ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
										ds.charset = 'UTF-8';
										(document.getElementsByTagName('head')[0] 
										 || document.getElementsByTagName('body')[0]).appendChild(ds);
									})();
									</script>
								<!-- 多说公共JS代码 end -->

                            </div>
                            <div class='clearfix'></div>
                        </div>
                        <hr/>
					</section>
				</div>
			</div>
		</div>
	</section>
	<footer>
	    <a href="http://www.juemin.win">卢珏玟的个人网站</a>©2015
	</footer>
    <script src="/js/app.js"></script>
</body>
</html>