<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'> -->
	<title>{{page.title}}</title>
</head>
<body>
	<header id="head" class="head">
	    <div class="container">
	        <a href="http://www.juemin.win">Lu Juemin</a>
	    </div>
	</header>
	<section id="innerContent">
	    <div id="panel">
	    <div class="container">
	        <div class="col-md-12" id="content">
	            <section class="holder" id="blog">
	                <div class='header'>
	                	<a href='{{ site.baseurl }}{{post.url}}'><h1>{{page.title}}"</h1></a>
	                	<hr/>
	                	<p>Posted by <small>"Lu Juemin"</small> on <small>{{ post.date | date_to_string }}</small><span class='label label-default' style = 'float:right;'>{{ post.theme }}</span></p></div>
	                <div class='content'><p>{{ content }}</p></div><div class='footer'>
	                    <hr/>
	                    <div class='social-widget-holder'><span>Totally 0 replies</span>
	                    </div>
	                    <div class='clearfix'></div>
	                </div>
	                <hr/>
	            </section>

	        </div>
	    </div>
	</section>
	<footer>
	    <a href="http://www.juemin.win">卢珏玟的个人网站</a>©2015 -
	</footer>
	<div id="nav">
	    <div id="nav1">
	        <a href="http://www.juemin.win">HOME</a>
	    </div>
	    <div id="nav2">
	        <a href="http://www.juemin.win/cv">CV</a>
	    </div>
	    <div id="nav3">
	        <a href="http://www.juemin.win/message">MESSAGE</a>
	    </div>
	    <div id="nav4">
	        <a href="http://www.juemin.win/slide">SLIDE</a>
	    </div>
	</div>
    <script src="../js/app.js"></script>
</body>
</html>